body {
  font-family: Roboto;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #F1FAEE;
  overflow-x: hidden;
  background-color: #1D3557;
}

a:visited {
  color: #A8DADC;
}

a:link {
  text-decoration: none;
  color: #A8DADC;
}
a:hover {
  color: #A8DADC;
}

a:active {
  color: #A8DADC;
}


.header {
  height: 8vh;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid #A8DADC;
  }

.header-home {
  font-weight: 500;
  font-size: 0.8rem;
  text-decoration: none;
}

.navbar {
  display: flex;
  gap: 20px;
  align-items: center;
  font-weight: 500;
  font-size: 0.8rem;
}

.header-container {
max-width: 90vw;
max-height: 100vh;
display: flex;
position: relative;
flex-direction: column;
}


/* .profile {
  background-image: url(./images/profile.JPeG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 90vw;
  min-height: 40vh;
  overflow: hidden;
  box-shadow: -5px 5px 20px rgb(0 0 0 / 0.6);
  transition: all 3s ease;
  position: relative;
} */

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 90vw;
  margin-top: 2vh;
}

p.about-para {
  width: 90vw;
  font-size: 1.4rem;
  line-height: 1.4;
}

.about-h3 {
  font-weight: 500;
  line-height: 0;
  font-size: 2rem;
}

.name-h1 {
  font-size: 1.8rem;
  line-height: 0;
}

.title-h2 {
  line-height: 0;
}

.job {
  color: #A8DADC;
  transition: color 3s ease, opacity 3s ease;
  border-bottom: 0.15rem solid #A8DADC;
}

.button-container {
  display: flex;
  gap: 1rem;
  margin-top: 10vh;
  margin-bottom: 5vh;
  text-align: center;
  padding-top: 10px;
}

.button-download-resume {
  width: 7rem;
  height: 2.5rem;
  border-radius: 12px;
  color: #F1FAEE;
  background-color: #1D3557;
  border: solid 2px;
  font-size: 1.1rem;
}

.button-download-resume:visited {
  color: #A8DADC;
}

.devicon-linkedin-plain, .devicon-github-original {
  font-size: 2rem;
}

.iconify {
  font-size: 1.4rem;
}
.devicon-github-original-wordmark {
  font-size: 1.4rem;
}

.skills-h2 {
  margin-top: 30px;
  font-size: 2rem;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(1, 7rem);
  margin-top: 2rem;
  height: 90vh;
}

.work-h2 {
  font-weight: 500;
  font-size: 2rem;
  text-align: left;
}

.about-project {
  max-width: 90vw;
  max-height: 100vh;
  margin-bottom: 4rem;
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 60vh;
}

.project-name {

}

.about-para-project {
  font-size: 1rem;
  line-height: 1.4;
}

.about-project {
  height: 10vh;
}

.project-title {

}

.project-h2 {

}

.project-image-sneakercuisine video {
  width: 90vw;
  margin-top: 20px;
  box-shadow: -5px 5px 20px rgb(0 0 0 / 0.6);
  transition: all 3s ease;
}

.rps-div {
  width: 90vw;
  margin-top: 10vh;
}

.rps-image {
  width: 90vw;
}

.about-project-rps {
  max-width: 90vw;
  max-height: auto;
  margin-top: 1rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
}

.project-image-dashboard {
  width: 90vw;
  margin-top: 10vh;
}

.dashboard-image {
  width: 90vw;
}

.contact-container {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.quote {
  color: white;
  font-weight: 500;
  font-size: 1rem;
  border-top: 0.15rem solid white;
}

.copyright {
  font-weight: 500;
}


/* CSS for blog.html */

.date {
  font-size: 0.8rem;
  font-weight: 500;
}

.blog-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
}

.blog-title {
  font-size: 1.5rem;
}