body {
  font-family: Roboto;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #F1FAEE;
  overflow-x: hidden;
  background-color: #1D3557;
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a:visited {
  color: #F1FAEE;
}

a:link {
  color: #F1FAEE;
  text-decoration: none;
}
a:hover {
  color: #457B9D;
}

a:active {
  color: #F1FAEE;
}


header {
  height: 8vh;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid #A8DADC;
  }

.header-home {
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
}

nav {
  display: flex;
  font-size: 0.8rem;
}

.ham-menu {
  height: 40px;
  width: 40px;
  position: relative;
}

.ham-menu span {
  height: 5px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
  background-color: #F1FAEE;
  border-radius: 25px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}

.ham-menu span:nth-child(3) {
  top: 75%
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, 50%) rotate(-45deg);
}

.off-screen-menu {
  background-color: #457B9D;
  height: 100vh;
  width: 80vw;
  top: 0;
  left: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  font-size: 1rem;
  transition: transform 0.3s ease;
  position: fixed;
  transform: translateX(100%);
  z-index: 1;
  color: #F1FAEE;
}

.off-screen-menu a:hover{
  color: #1D3557;
}

.off-screen-menu.active {
  transform: translateX(0);
}

.header-container {
width: 90vw;
height: 90vh;
display: flex;
position: relative;
flex-direction: column;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2vh;
}

p.about-para {
  width: 90vw;
  font-size: 1.4rem;
  line-height: 1.4;
}

.about-h3 {
  font-weight: 500;
  line-height: 0;
  font-size: 2rem;
}

.name-h1 {
  font-size: 1.8rem;
  line-height: 0;
}

.title-h2 {
  line-height: 0;
}

.job {
  color: #A8DADC;
  transition: color 3s ease, opacity 3s ease;
  border-bottom: 0.15rem solid #A8DADC;
}

.button-container {
  display: flex;
  gap: 1rem;
  margin-top: 3vh;
  align-items: center;
  padding-top: 10px;
}

.button-download-resume {
  width: 7rem;
  height: 2.5rem;
  border-radius: 12px;
  border-color: #F1FAEE;
  color: #F1FAEE;
  border: solid 2px;
  font-size: 1.1rem;
  text-align: center;
  line-height: 2.5rem;
  transition: background-color 1s ease-in-out 0.25s, 
  color 1s ease-out 0.25s, 
  border 1s ease-out 0.25s;
}

.button-download-resume:hover {
  background-color: #F1FAEE;
  color: #1D3557;
}

.button-download-resume:visited {
  color: #F1FAEE;
}

.devicon-linkedin-plain, .devicon-github-original {
  font-size: 2rem;
}

.iconify {
  font-size: 1.4rem;
}
.devicon-github-original-wordmark {
  font-size: 1.4rem;
}

.skills-h2 {
  font-size: 2rem;
}

.skills {
  height: 200px;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(1, 7rem);
  margin-top: 1rem;
}

.work-h2 {
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
}

.project-container {
  width: 90vw;
  height: 100vh;
  margin-bottom: 4rem;
  display: flex;
  position: relative;
  flex-direction: column;
}

.project-name {
  line-height: 1;
  font-size: 1rem;
}

.project-title {
  line-height: 0;
  font-size: 1.5rem;
}

.about-para-project {
  font-size: 1rem;
  line-height: 1.4;
}

.project-h2 {
  line-height: 1;
}

.project-image-sneakercuisine video {
  width: 90vw;
  margin-top: 20px;
  box-shadow: -5px 5px 20px rgb(0 0 0 / 0.6);
  transition: all 3s ease;
  margin-bottom: 2vh;
}

.rps-div {
  width: 90vw;
  margin-top: 10vh;
}

.rps-image {
  width: 90vw;
}

.dashboard-image {
  width: 90vw;
}

.contact-container {
  left: 0;
  bottom: 0;
  width: 90vw;
  color: #F1FAEE;
  text-align: center;
  border-top: 0.1rem solid #F1FAEE;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding-top: 10px;
}

.contact-container-fixed {
  width: 90vw;
  color: #F1FAEE;
  text-align: center;
  border-top: 0.1rem solid #F1FAEE;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding-top: 10px;
  position: fixed;
  bottom: 0;
  left: 50%; 
  transform: translateX(-50%); 
  width: 90vw;
}

.copyright {
  font-weight: 500;
}


/* CSS for blog.html */

.date {
  font-size: 0.8rem;
  font-weight: 500;
}

.blog-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
}

.blog-title {
  font-size: 1.4rem;
  text-decoration: underline;
}


/* Sign up form CSS */

.container form{
  width: 70vw;
  height: 40vh;
  padding: 3rem 2rem 1rem;
  background-color: #1D3557;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  margin-top: 5vh;
}

.input-group{
  width: 100%;
  display: flex;
  align-items: center;
  margin: 1rem;
}
.input-group label{
  flex-basis: 28%;
}
.input-group input, .input-group textarea{
  flex-basis: 68%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 1rem 0;
  border-bottom: 1px solid #F1FAEE;
  color: #F1FAEE;
  font-size: 1rem;
}

form button{
  background-color: #457B9D;
  color: #F1FAEE;
  border-radius: 4px;
  border: none;
  padding: 1rem 3rem;
  cursor: pointer;
  display: block;
  margin: 30px auto 10px;
}

.successful-submit {
  background-color: #457B9D;
  height: 100vh;
  width: 90vw;
  top: 0;
  left: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  font-size: 1rem;
  transition: transform 0.3s ease;
  position: fixed;
  transform: translateX(100%);
  z-index: 1;
  color: #F1FAEE;
}

.successful-submit.active {
  transform: translateX(0);
}


/* Animations and transitions */




/* Media queries */

/* xs */
@media (min-width: 475px) {
} 

/* sm */
@media (min-width: 1386px) {
  .header-home {
    font-size: 1.5rem;
  }

.off-screen-menu {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

  .off-screen-menu a {
    font-size: 2rem;
  }

  .about-para {
  max-width: 50%;
  }
.skills-container {
  display: grid;
  grid-template-columns: repeat(4, 9rem);
  gap: 6rem;
  margin-bottom: 35vh;
}

.work-h2{
  text-align: center;
}
.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  gap: 2rem;
}

.project-container video {
  width: 40%;
}

.project-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rps-image, .dashboard-image {
  width: 40%;
}

.content {
  width: 50%;
  margin-bottom: 10vh;
}

.container form {
  width: 50vw;
}

.input-group{
  justify-content: center;
  align-items: center;
}
.input-group label {
  flex-basis: 10%;
}

.input-group input, .input-group textarea {
  flex-basis: 40%;
}

}